.product-model
  .container
    %ol.breadcrumb
      %li
        %a{:href => mains_path} Главная
      %li.active Товары
    %h2 Наши товары
    .col-md-9.product-model-sec
      - @subcategories.each do |p|
        %a{:href => subcategory_path(p.id)}
          .product-grid
            .more-product
              %span
            .product-img.b-link-stripe.b-animate-go.thickbox
              %a{:href => subcategory_path(p.id)}
                %p= p.name
              %a{:href => subcategory_path(p.id)}= image_tag(p.avatar0.url(:medium)) if p.avatar0.exists?
            .product-info.simpleCart_shelfItem
              .product-info-cust.prt_name


                .ofr

                -# %h4= p.name
            -# %input.item_quantity{:type => "text", :value => "1"}/
            -# %input.item_add.items{:type => "button", :value => "+"}/
            .clearfix
    .rsidebar.span_1_of_left
      %section.sky-form
        .product_right
          %h4.m_2
            Категории
          .tab1
            - @categories.each do |c|
              %ul.place

                %li
                  %a{:href => subcategories_path(cat:c.id)}= c.name
                %li.by
                  .clearfix
