.pages
  .container
    %ol.breadcrumb
      %li
        %a{:href => mains_path} Главная
      %li.active О нас
    %h2.top О нас
    .headdings
      %h3.ghj Описание компании
      .bs-example
        %table.table
          %tbody
            %h4= "Тут будет текст"
