.pages
  .container
    %ol.breadcrumb
      %li
        %a{:href => mains_path} Главная
      %li.active О нас
    %h2.top О нас
    .headdings
      %h3.ghj Описание компании
      .bs-example
        %table.table
          %tbody
            %h4= "ООО \"ТИМЛАЙТ\""
            %h4= "team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light team-light"
            %p= " Расширь границы света вместе с нами"
