.pages
  .container
    %ol.breadcrumb
      %li
        %a{:href => mains_path} Главная
      %li.active Доставка
    %h2.top Доставка
    .headdings
      .bs-example
        %table.table
          %tbody
            %h4= "Тут будет текст"
