%script{:src => "memenu.js", :type => "text/javascript"}
:javascript
  $(document).ready(function(){$(".memenu").memenu();});

.contact
  .container
    %ol.breadcrumb
      %li
        %a{:href => mains_path} Главная
      %li.active Контакты
    / start contact
    %h3 Свяжитесь с нами
    .section.group
      .col-md-6.span_1_of_3
        .company_address
          %h4 Адрес:
          %p 143080
          %p Московская обл., Лесной городок,
          %p Центральная, 65/1
          %p Офис 208
          %p Телефон:+7 (495) 150-70-45
          %p
            Email:
            %a{:href => "mailto:d.shenaev@team-light.ru"} d.shenaev@team-light.ru
          %p
            Email:
            %a{:href => "mailto:p.nikiforova@team-light.ru"} p.nikiforova@team-light.ru
      .col-md-6.span_2_of_3
        .contact-form
          %form
            %div
              %span
                %label Имя
              %span
                %input.textbox{:name => "userName", :type => "text"}/
            %div
              %span
                %label e-mail
              %span
                %input.textbox{:name => "userEmail", :type => "text"}/
            %div
              %span
                %label Контактный телефон
              %span
                %input.textbox{:name => "userPhone", :type => "text"}/
            %div
              %span
                %label Сообщение
              %span
                %textarea{:name => "userMsg"}
            %div
              %span
                %input.mybutton{:type => "submit", :value => "Отправить"}/
