
.banner
  .container
    .banner-matter
      %h1
        Расширить границы света
        %span вместе с нами
      .out
        %a.find{:href => "single.html"} FIND OUT MORE
        %a.shop{:href => "single.html"} SHOP
        .clearfix
= render 'mains/carousel'
