%script{:src => "responsiveslides.min.js"}
:javascript
  $(function () {
    $("#slider").responsiveSlides({
    	auto: true,
    	nav: true,
    	speed: 500,
      namespace: "callbacks",
      pager: false,
    });
  });
.slider
  .callbacks_container
    %ul#slider.rslides
      %li
        .banner1
          .banner-info
      %li
        .banner2
          .banner-info
      %li
        .banner3
          .banner-info


/
%script{:src => "bootstrap.js"} :cdata
.items
  .container
    .items-sec
      .col-md-4
      .col-md-3.feature-grid
        %a{:href => products_path}
          %img= image_tag('3.png')
          .arrival-info
            %h4 Новогодние украшения
            %p Новогодние украшения
