-# %h1 Listing products
-#
-# %table
-#   %thead
-#     %tr
-#       %th Name
-#       %th Size
-#       %th Color light
-#       %th Price
-#       %th Min order
-#       %th Subcategory
-#       %th
-#       %th
-#       %th
-#
-#   %tbody
-#     - @products.each do |product|
-#       %tr
-#         %td= product.name
-#         %td= product.size
-#         %td= product.color_light
-#         %td= product.price
-#         %td= product.min_order
-#         %td= product.subcategory
-#         %td= link_to 'Show', product
-#         %td= link_to 'Edit', edit_product_path(product)
-#         %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
-#
-# %br
-#
-# = link_to 'New Product', new_product_path
