- @categories = Category.all
%body
  .header-top
    .header-bottom
      .logo
        %h1
          %a{:href => "index.html"} Lighting
      /
      .top-nav
        %ul.memenu.skyblue
          %li.active
            %a{:href => "index.html"} Home
          %li.grid
            %a{:href => "#"} Products
            .mepanel
              .row

          %li.grid
            %a{:href => "#"} Accessories
            .mepanel
              .row
          %li.grid
            %a{:href => "typo.html"} Typo
          %li.grid
            %a{:href => "contact.html"} Contact
      /
      .cart.box_1
        %a{:href => "checkout.html"}
          .total
            %span.simpleCart_total
            (
            %span#simpleCart_quantity.simpleCart_quantity>
            )
          %span.glyphicon.glyphicon-shopping-cart{"aria-hidden" => "true"}
        %p
          %a.simpleCart_empty{:href => "javascript:;"} Empty Cart
        .clearfix
      .clearfix
      /
    .clearfix
