- @categories = Category.all
%body
  .header-top
    .header-bottom
      .logo
        %a{:href => mains_path}
          %img= image_tag('logo2.png')

      /
      .top-nav
        %ul.memenu.skyblue
          %li.active
            %a{:href => descriptions_path} О нас
          %li.grid
            %a{:href => deliveries_path} Доставка
          %li.grid
            %a{:href => contacts_path} Контакты
      /
      .cart.box_1
        %a{:href => bags_path}
          .total
            %span.simpleCart_total
            (
            %span#simpleCart_quantity.simpleCart_quantity>
            )
          %span.glyphicon.glyphicon-shopping-cart{"aria-hidden" => "true"}
        %p
          %a.simpleCart_empty{:href => "javascript:;"} Корзина пуста
        .clearfix
      .clearfix
      /
    .clearfix
